.navbar-brand {
    font-family: 'Inconsolata', monospace;
}

.nav-item {
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

h1, h4, p {
    font-family: 'Inconsolata', monospace;
}
